HPI-MIB::saHpiEntryCount.0 = Counter32: 3
HPI-MIB::saHpiEntryUpdateCount.0 = Gauge32: 3
HPI-MIB::saHpiDomainID.0.4.4 = Gauge32: 0
HPI-MIB::saHpiDomainID.0.5.5 = Gauge32: 0
HPI-MIB::saHpiDomainID.0.6.6 = Gauge32: 0
HPI-MIB::saHpiEntryID.0.4.4 = Gauge32: 4
HPI-MIB::saHpiEntryID.0.5.5 = Gauge32: 5
HPI-MIB::saHpiEntryID.0.6.6 = Gauge32: 6
HPI-MIB::saHpiResourceID.0.4.4 = Gauge32: 4
HPI-MIB::saHpiResourceID.0.5.5 = Gauge32: 5
HPI-MIB::saHpiResourceID.0.6.6 = Gauge32: 6
HPI-MIB::saHpiResourceEntityPath.0.4.4 = STRING: "{ROOT,0}{SYSTEM_CHASSIS,1}{SYSTEM_BOARD,1}"
HPI-MIB::saHpiResourceEntityPath.0.5.5 = STRING: "{ROOT,0}{SYSTEM_CHASSIS,1}{POWER_SUPPLY,1}"
HPI-MIB::saHpiResourceEntityPath.0.6.6 = STRING: "{ROOT,0}{SYSTEM_CHASSIS,1}{POWER_SUPPLY,2}"
HPI-MIB::saHpiResourceCapabilities.0.4.4 = Gauge32: 1073746447
HPI-MIB::saHpiResourceCapabilities.0.5.5 = Gauge32: 1073744131
HPI-MIB::saHpiResourceCapabilities.0.6.6 = Gauge32: 1073741824
HPI-MIB::saHpiResourceSeverity.0.4.4 = INTEGER: major(2)
HPI-MIB::saHpiResourceSeverity.0.5.5 = INTEGER: major(2)
HPI-MIB::saHpiResourceSeverity.0.6.6 = INTEGER: major(2)
HPI-MIB::saHpiResourceInfoResourceRev.0.4.4 = Gauge32: 0
HPI-MIB::saHpiResourceInfoResourceRev.0.5.5 = Gauge32: 0
HPI-MIB::saHpiResourceInfoResourceRev.0.6.6 = Gauge32: 0
HPI-MIB::saHpiResourceInfoSpecificVer.0.4.4 = Gauge32: 0
HPI-MIB::saHpiResourceInfoSpecificVer.0.5.5 = Gauge32: 0
HPI-MIB::saHpiResourceInfoSpecificVer.0.6.6 = Gauge32: 0
HPI-MIB::saHpiResourceInfoDeviceSupport.0.4.4 = Gauge32: 0
HPI-MIB::saHpiResourceInfoDeviceSupport.0.5.5 = Gauge32: 0
HPI-MIB::saHpiResourceInfoDeviceSupport.0.6.6 = Gauge32: 0
HPI-MIB::saHpiResourceInfoManufacturerId.0.4.4 = Gauge32: 0
HPI-MIB::saHpiResourceInfoManufacturerId.0.5.5 = Gauge32: 0
HPI-MIB::saHpiResourceInfoManufacturerId.0.6.6 = Gauge32: 0
HPI-MIB::saHpiResourceInfoProductId.0.4.4 = Gauge32: 0
HPI-MIB::saHpiResourceInfoProductId.0.5.5 = Gauge32: 0
HPI-MIB::saHpiResourceInfoProductId.0.6.6 = Gauge32: 0
HPI-MIB::saHpiResourceInfoFirmwareMajorRev.0.4.4 = Gauge32: 0
HPI-MIB::saHpiResourceInfoFirmwareMajorRev.0.5.5 = Gauge32: 0
HPI-MIB::saHpiResourceInfoFirmwareMajorRev.0.6.6 = Gauge32: 0
HPI-MIB::saHpiResourceInfoFirmwareMinorRev.0.4.4 = Gauge32: 0
HPI-MIB::saHpiResourceInfoFirmwareMinorRev.0.5.5 = Gauge32: 0
HPI-MIB::saHpiResourceInfoFirmwareMinorRev.0.6.6 = Gauge32: 0
HPI-MIB::saHpiResourceInfoAuxFirmwareRev.0.4.4 = Gauge32: 0
HPI-MIB::saHpiResourceInfoAuxFirmwareRev.0.5.5 = Gauge32: 0
HPI-MIB::saHpiResourceInfoAuxFirmwareRev.0.6.6 = Gauge32: 0
HPI-MIB::saHpiResourceTagTextType.0.4.4 = INTEGER: ascii6(3)
HPI-MIB::saHpiResourceTagTextType.0.5.5 = INTEGER: ascii6(3)
HPI-MIB::saHpiResourceTagTextType.0.6.6 = INTEGER: ascii6(3)
HPI-MIB::saHpiResourceTagTextLanguage.0.4.4 = INTEGER: english(26)
HPI-MIB::saHpiResourceTagTextLanguage.0.5.5 = INTEGER: english(26)
HPI-MIB::saHpiResourceTagTextLanguage.0.6.6 = INTEGER: english(26)
HPI-MIB::saHpiResourceTag.0.4.4 = STRING: "Dummy-System-Board"
HPI-MIB::saHpiResourceTag.0.5.5 = STRING: "Dummy-System-Board"
HPI-MIB::saHpiResourceTag.0.6.6 = STRING: "Dummy-System-Board"
HPI-MIB::saHpiParamControl.0.4.4 = INTEGER: undefined(0)
HPI-MIB::saHpiParamControl.0.5.5 = INTEGER: undefined(0)
HPI-MIB::saHpiParamControl.0.6.6 = INTEGER: undefined(0)
HPI-MIB::saHpiClearEvents.0.4.4 = INTEGER: active(1)
HPI-MIB::saHpiClearEvents.0.5.5 = INTEGER: notInService(2)
HPI-MIB::saHpiClearEvents.0.6.6 = INTEGER: notInService(2)
HPI-MIB::saHpiEventLogState.0.4.4 = INTEGER: disable(2)
HPI-MIB::saHpiEventLogState.0.5.5 = INTEGER: disable(2)
HPI-MIB::saHpiEventLogState.0.6.6 = INTEGER: disable(2)
HPI-MIB::saHpiEventCount.0 = Counter32: 1
HPI-MIB::saHpiEventIndex.0.4.0 = Gauge32: 0
HPI-MIB::saHpiEventType.0.4.0 = INTEGER: user(5)
HPI-MIB::saHpiEventSeverity.0.4.0 = INTEGER: critical(1)
HPI-MIB::saHpiEventSensorNum.0.4.0 = Gauge32: 0
HPI-MIB::saHpiEventSensorType.0.4.0 = INTEGER: undefined(0)
HPI-MIB::saHpiEventSensorCategory.0.4.0 = INTEGER: unspecified(0)
HPI-MIB::saHpiEventSensorAssertion.0.4.0 = INTEGER: 0
HPI-MIB::saHpiEventSensorState.0.4.0 = ""
HPI-MIB::saHpiEventSensorOptionalData.0.4.0 = Gauge32: 0
HPI-MIB::saHpiEventSensorTriggerReadingType.0.4.0 = INTEGER: undefined(0)
HPI-MIB::saHpiEventSensorTriggerReadingRaw.0.4.0 = Gauge32: 0
HPI-MIB::saHpiEventSensorTriggerReadingInterpreted.0.4.0 = ""
HPI-MIB::saHpiEventSensorTriggerReadingEventStateFlag.0.4.0 = INTEGER: undefined(0)
HPI-MIB::saHpiEventSensorTriggerReadingEventState.0.4.0 = ""
HPI-MIB::saHpiEventSensorTriggerThresholdType.0.4.0 = INTEGER: undefined(0)
HPI-MIB::saHpiEventSensorTriggerThresholdRaw.0.4.0 = Gauge32: 0
HPI-MIB::saHpiEventSensorTriggerThresholdInterpreted.0.4.0 = ""
HPI-MIB::saHpiEventSensorTriggerThresholdEventStateFlag.0.4.0 = INTEGER: undefined(0)
HPI-MIB::saHpiEventSensorTriggerThresholdEventState.0.4.0 = ""
HPI-MIB::saHpiEventSensorPreviousState.0.4.0 = ""
HPI-MIB::saHpiEventSensorOem.0.4.0 = Gauge32: 0
HPI-MIB::saHpiEventSensorSpecific.0.4.0 = Gauge32: 0
HPI-MIB::saHpiEventHotSwapState.0.4.0 = INTEGER: undefined(0)
HPI-MIB::saHpiEventPreviousHotSwapState.0.4.0 = INTEGER: undefined(0)
HPI-MIB::saHpiEventWatchdogNum.0.4.0 = Gauge32: 0
HPI-MIB::saHpiEventWatchdogAction.0.4.0 = INTEGER: undefined(0)
HPI-MIB::saHpiEventWatchdogPreTimerAction.0.4.0 = INTEGER: undefined(0)
HPI-MIB::saHpiEventWatchdogUse.0.4.0 = INTEGER: undefined(0)
HPI-MIB::saHpiEventOemManufacturerIdT.0.4.0 = Gauge32: 0
HPI-MIB::saHpiEventOemEventData.0.4.0 = ""
HPI-MIB::saHpiEventUserEventData.0.4.0 = Hex-STRING: 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
HPI-MIB::saHpiSystemEventLogEntries.0 = Gauge32: 1
HPI-MIB::saHpiSystemEventLogSize.0 = Gauge32: 4294967295
HPI-MIB::saHpiSystemEventLogEnabled.0 = INTEGER: false(2)
HPI-MIB::saHpiSystemEventLogOverflowFlag.0 = INTEGER: false(2)
HPI-MIB::saHpiSystemEventLogOverflowAction.0 = INTEGER: drop(1)
HPI-MIB::saHpiSystemEventLogDeleteEntrySupported.0 = INTEGER: true(1)
HPI-MIB::saHpiSystemEventLogIndex.0.4.0 = Gauge32: 0
HPI-MIB::saHpiSystemEventLogType.0.4.0 = INTEGER: hotswap(2)
HPI-MIB::saHpiSystemEventLogSeverity.0.4.0 = INTEGER: critical(1)
HPI-MIB::saHpiSystemEventLogSensorNum.0.4.0 = Gauge32: 0
HPI-MIB::saHpiSystemEventLogSensorType.0.4.0 = INTEGER: undefined(0)
HPI-MIB::saHpiSystemEventLogSensorCategory.0.4.0 = INTEGER: unspecified(0)
HPI-MIB::saHpiSystemEventLogSensorAssertion.0.4.0 = INTEGER: 0
HPI-MIB::saHpiSystemEventLogSensorState.0.4.0 = ""
HPI-MIB::saHpiSystemEventLogSensorOptionalData.0.4.0 = Gauge32: 0
HPI-MIB::saHpiSystemEventLogSensorTriggerReadingType.0.4.0 = INTEGER: undefined(0)
HPI-MIB::saHpiSystemEventLogSensorTriggerReadingRaw.0.4.0 = Gauge32: 0
HPI-MIB::saHpiSystemEventLogSensorTriggerReadingInterpreted.0.4.0 = ""
HPI-MIB::saHpiSystemEventLogSensorTriggerReadingEventStateFlag.0.4.0 = INTEGER: undefined(0)
HPI-MIB::saHpiSystemEventLogSensorTriggerReadingEventState.0.4.0 = ""
HPI-MIB::saHpiSystemEventLogSensorTriggerThresholdType.0.4.0 = INTEGER: undefined(0)
HPI-MIB::saHpiSystemEventLogSensorTriggerThresholdRaw.0.4.0 = Gauge32: 0
HPI-MIB::saHpiSystemEventLogSensorTriggerThresholdInterpreted.0.4.0 = ""
HPI-MIB::saHpiSystemEventLogSensorTriggerThresholdEventStateFlag.0.4.0 = INTEGER: undefined(0)
HPI-MIB::saHpiSystemEventLogSensorTriggerThresholdEventState.0.4.0 = ""
HPI-MIB::saHpiSystemEventLogSensorPreviousState.0.4.0 = ""
HPI-MIB::saHpiSystemEventLogSensorOem.0.4.0 = Gauge32: 0
HPI-MIB::saHpiSystemEventLogSensorSpecific.0.4.0 = Gauge32: 0
HPI-MIB::saHpiSystemEventLogHotSwapState.0.4.0 = INTEGER: insertionPending(2)
HPI-MIB::saHpiSystemEventLogPreviousHotSwapState.0.4.0 = INTEGER: notPresent(6)
HPI-MIB::saHpiSystemEventLogWatchdogNum.0.4.0 = Gauge32: 0
HPI-MIB::saHpiSystemEventLogWatchdogAction.0.4.0 = INTEGER: undefined(0)
HPI-MIB::saHpiSystemEventLogWatchdogPreTimerAction.0.4.0 = INTEGER: undefined(0)
HPI-MIB::saHpiSystemEventLogWatchdogUse.0.4.0 = INTEGER: undefined(0)
HPI-MIB::saHpiSystemEventLogOemManufacturerIdT.0.4.0 = Gauge32: 0
HPI-MIB::saHpiSystemEventLogOemEventData.0.4.0 = ""
HPI-MIB::saHpiSystemEventLogUserEventData.0.4.0 = ""
HPI-MIB::saHpiRdrCount.0 = Counter32: 8
HPI-MIB::saHpiRdrRecordId.0.4.65541.ctrlRdr = Gauge32: 65541
HPI-MIB::saHpiRdrRecordId.0.4.65543.ctrlRdr = Gauge32: 65543
HPI-MIB::saHpiRdrRecordId.0.4.131073.sensorRdr = Gauge32: 131073
HPI-MIB::saHpiRdrRecordId.0.4.131075.sensorRdr = Gauge32: 131075
HPI-MIB::saHpiRdrRecordId.0.4.196614.inventoryRdr = Gauge32: 196614
HPI-MIB::saHpiRdrRecordId.0.4.196616.inventoryRdr = Gauge32: 196616
HPI-MIB::saHpiRdrRecordId.0.5.131074.sensorRdr = Gauge32: 131074
HPI-MIB::saHpiRdrRecordId.0.5.131076.sensorRdr = Gauge32: 131076
HPI-MIB::saHpiRdrType.0.4.65541.ctrlRdr = INTEGER: ctrlRdr(2)
HPI-MIB::saHpiRdrType.0.4.65543.ctrlRdr = INTEGER: ctrlRdr(2)
HPI-MIB::saHpiRdrType.0.4.131073.sensorRdr = INTEGER: sensorRdr(3)
HPI-MIB::saHpiRdrType.0.4.131075.sensorRdr = INTEGER: sensorRdr(3)
HPI-MIB::saHpiRdrType.0.4.196614.inventoryRdr = INTEGER: inventoryRdr(4)
HPI-MIB::saHpiRdrType.0.4.196616.inventoryRdr = INTEGER: inventoryRdr(4)
HPI-MIB::saHpiRdrType.0.5.131074.sensorRdr = INTEGER: sensorRdr(3)
HPI-MIB::saHpiRdrType.0.5.131076.sensorRdr = INTEGER: sensorRdr(3)
HPI-MIB::saHpiRdrEntityPath.0.4.65541.ctrlRdr = STRING: "{ROOT,0}{SYSTEM_CHASSIS,1}{SYSTEM_BOARD,1}"
HPI-MIB::saHpiRdrEntityPath.0.4.65543.ctrlRdr = STRING: "{ROOT,0}{SYSTEM_CHASSIS,1}{SYSTEM_BOARD,1}"
HPI-MIB::saHpiRdrEntityPath.0.4.131073.sensorRdr = STRING: "{ROOT,0}{SYSTEM_CHASSIS,1}{SYSTEM_BOARD,1}"
HPI-MIB::saHpiRdrEntityPath.0.4.131075.sensorRdr = STRING: "{ROOT,0}{SYSTEM_CHASSIS,1}{SYSTEM_BOARD,1}"
HPI-MIB::saHpiRdrEntityPath.0.4.196614.inventoryRdr = STRING: "{ROOT,0}{SYSTEM_CHASSIS,1}{SYSTEM_BOARD,1}"
HPI-MIB::saHpiRdrEntityPath.0.4.196616.inventoryRdr = STRING: "{ROOT,0}{SYSTEM_CHASSIS,1}{SYSTEM_BOARD,1}"
HPI-MIB::saHpiRdrEntityPath.0.5.131074.sensorRdr = STRING: "{ROOT,0}{SYSTEM_CHASSIS,1}{POWER_SUPPLY,1}"
HPI-MIB::saHpiRdrEntityPath.0.5.131076.sensorRdr = STRING: "{ROOT,0}{SYSTEM_CHASSIS,1}{POWER_SUPPLY,1}"
HPI-MIB::saHpiRdr.0.4.65541.ctrlRdr = OID: HPI-MIB::saHpiCtrlNum.0.4.5
HPI-MIB::saHpiRdr.0.4.65543.ctrlRdr = OID: HPI-MIB::saHpiCtrlNum.0.4.7
HPI-MIB::saHpiRdr.0.4.131073.sensorRdr = OID: HPI-MIB::saHpiSensorIndex.0.4.1
HPI-MIB::saHpiRdr.0.4.131075.sensorRdr = OID: HPI-MIB::saHpiSensorIndex.0.4.3
HPI-MIB::saHpiRdr.0.4.196614.inventoryRdr = OID: HPI-MIB::saHpiInventoryEirId.0.4.6.0
HPI-MIB::saHpiRdr.0.4.196616.inventoryRdr = OID: HPI-MIB::saHpiInventoryEirId.0.4.8.0
HPI-MIB::saHpiRdr.0.5.131074.sensorRdr = OID: HPI-MIB::saHpiSensorIndex.0.5.2
HPI-MIB::saHpiRdr.0.5.131076.sensorRdr = OID: HPI-MIB::saHpiSensorIndex.0.5.4
HPI-MIB::saHpiRdrId.0.4.65541.ctrlRdr = Counter32: 5
HPI-MIB::saHpiRdrId.0.4.65543.ctrlRdr = Counter32: 7
HPI-MIB::saHpiRdrId.0.4.131073.sensorRdr = Counter32: 1
HPI-MIB::saHpiRdrId.0.4.131075.sensorRdr = Counter32: 3
HPI-MIB::saHpiRdrId.0.4.196614.inventoryRdr = Counter32: 6
HPI-MIB::saHpiRdrId.0.4.196616.inventoryRdr = Counter32: 8
HPI-MIB::saHpiRdrId.0.5.131074.sensorRdr = Counter32: 2
HPI-MIB::saHpiRdrId.0.5.131076.sensorRdr = Counter32: 4
HPI-MIB::saHpiRdrRTP.0.4.65541.ctrlRdr = OID: HPI-MIB::saHpiDomainID.0.4.4
HPI-MIB::saHpiRdrRTP.0.4.65543.ctrlRdr = OID: HPI-MIB::saHpiDomainID.0.4.4
HPI-MIB::saHpiRdrRTP.0.4.131073.sensorRdr = OID: HPI-MIB::saHpiDomainID.0.4.4
HPI-MIB::saHpiRdrRTP.0.4.131075.sensorRdr = OID: HPI-MIB::saHpiDomainID.0.4.4
HPI-MIB::saHpiRdrRTP.0.4.196614.inventoryRdr = OID: HPI-MIB::saHpiDomainID.0.4.4
HPI-MIB::saHpiRdrRTP.0.4.196616.inventoryRdr = OID: HPI-MIB::saHpiDomainID.0.4.4
HPI-MIB::saHpiRdrRTP.0.5.131074.sensorRdr = OID: HPI-MIB::saHpiDomainID.0.5.5
HPI-MIB::saHpiRdrRTP.0.5.131076.sensorRdr = OID: HPI-MIB::saHpiDomainID.0.5.5
HPI-MIB::saHpiCtrlCount.0 = Counter32: 2
HPI-MIB::saHpiCtrlNum.0.4.5 = Gauge32: 5
HPI-MIB::saHpiCtrlNum.0.4.7 = Gauge32: 7
HPI-MIB::saHpiCtrlOutputType.0.4.5 = INTEGER: led(2)
HPI-MIB::saHpiCtrlOutputType.0.4.7 = INTEGER: led(2)
HPI-MIB::saHpiCtrlIgnore.0.4.5 = INTEGER: false(2)
HPI-MIB::saHpiCtrlIgnore.0.4.7 = INTEGER: false(2)
HPI-MIB::saHpiCtrlType.0.4.5 = INTEGER: digital(1)
HPI-MIB::saHpiCtrlType.0.4.7 = INTEGER: digital(1)
HPI-MIB::saHpiCtrlState.0.4.5 = Hex-STRING: 00 00 00 01 
HPI-MIB::saHpiCtrlState.0.4.7 = Hex-STRING: 00 00 00 01 
HPI-MIB::saHpiCtrlAttributes.0.4.5 = Hex-STRING: 00 00 00 00 
HPI-MIB::saHpiCtrlAttributes.0.4.7 = Hex-STRING: 00 00 00 00 
HPI-MIB::saHpiCtrlOem.0.4.5 = Gauge32: 0
HPI-MIB::saHpiCtrlOem.0.4.7 = Gauge32: 0
HPI-MIB::saHpiCtrlTextType.0.4.5 = INTEGER: undefined(0)
HPI-MIB::saHpiCtrlTextType.0.4.7 = INTEGER: undefined(0)
HPI-MIB::saHpiCtrlTextLanguage.0.4.5 = INTEGER: undefined(0)
HPI-MIB::saHpiCtrlTextLanguage.0.4.7 = INTEGER: undefined(0)
HPI-MIB::saHpiCtrlText.0.4.5 = ""
HPI-MIB::saHpiCtrlText.0.4.7 = ""
HPI-MIB::saHpiCtrlRDR.0.4.5 = OID: HPI-MIB::saHpiRdrRecordId.0.4.65541.ctrlRdr
HPI-MIB::saHpiCtrlRDR.0.4.7 = OID: HPI-MIB::saHpiRdrRecordId.0.4.65543.ctrlRdr
HPI-MIB::saHpiSensorCount.0 = Counter32: 4
HPI-MIB::saHpiSensorIndex.0.4.1 = Gauge32: 1
HPI-MIB::saHpiSensorIndex.0.4.3 = Gauge32: 3
HPI-MIB::saHpiSensorIndex.0.5.2 = Gauge32: 2
HPI-MIB::saHpiSensorIndex.0.5.4 = Gauge32: 4
HPI-MIB::saHpiSensorType.0.4.1 = INTEGER: temperature(2)
HPI-MIB::saHpiSensorType.0.4.3 = INTEGER: temperature(2)
HPI-MIB::saHpiSensorType.0.5.2 = INTEGER: temperature(2)
HPI-MIB::saHpiSensorType.0.5.4 = INTEGER: temperature(2)
HPI-MIB::saHpiSensorCategory.0.4.1 = INTEGER: threshold(2)
HPI-MIB::saHpiSensorCategory.0.4.3 = INTEGER: threshold(2)
HPI-MIB::saHpiSensorCategory.0.5.2 = INTEGER: threshold(2)
HPI-MIB::saHpiSensorCategory.0.5.4 = INTEGER: threshold(2)
HPI-MIB::saHpiSensorEventsCategoryControl.0.4.1 = INTEGER: perEvent(1)
HPI-MIB::saHpiSensorEventsCategoryControl.0.4.3 = INTEGER: perEvent(1)
HPI-MIB::saHpiSensorEventsCategoryControl.0.5.2 = INTEGER: perEvent(1)
HPI-MIB::saHpiSensorEventsCategoryControl.0.5.4 = INTEGER: perEvent(1)
HPI-MIB::saHpiSensorEventsSupported.0.4.1 = STRING: "UPPER_MINOR, UPPER_MAJOR, UPPER_CRIT"
HPI-MIB::saHpiSensorEventsSupported.0.4.3 = STRING: "UPPER_MINOR, UPPER_MAJOR, UPPER_CRIT"
HPI-MIB::saHpiSensorEventsSupported.0.5.2 = STRING: "UPPER_MINOR, UPPER_MAJOR, UPPER_CRIT"
HPI-MIB::saHpiSensorEventsSupported.0.5.4 = STRING: "UPPER_MINOR, UPPER_MAJOR, UPPER_CRIT"
HPI-MIB::saHpiSensorStatus.0.4.1 = Gauge32: 128
HPI-MIB::saHpiSensorStatus.0.4.3 = Gauge32: 128
HPI-MIB::saHpiSensorStatus.0.5.2 = Gauge32: 128
HPI-MIB::saHpiSensorStatus.0.5.4 = Gauge32: 128
HPI-MIB::saHpiSensorAssertEvents.0.4.1 = STRING: "LOWER_MINOR"
HPI-MIB::saHpiSensorAssertEvents.0.4.3 = STRING: "LOWER_CRIT"
HPI-MIB::saHpiSensorAssertEvents.0.5.2 = STRING: "LOWER_MAJOR"
HPI-MIB::saHpiSensorAssertEvents.0.5.4 = STRING: "UPPER_CRIT"
HPI-MIB::saHpiSensorDeassertEvents.0.4.1 = STRING: "UPPER_MINOR"
HPI-MIB::saHpiSensorDeassertEvents.0.4.3 = STRING: "UPPER_CRIT"
HPI-MIB::saHpiSensorDeassertEvents.0.5.2 = STRING: "UPPER_MAJOR"
HPI-MIB::saHpiSensorDeassertEvents.0.5.4 = STRING: "LOWER_CRIT"
HPI-MIB::saHpiSensorIgnore.0.4.1 = INTEGER: false(2)
HPI-MIB::saHpiSensorIgnore.0.4.3 = INTEGER: false(2)
HPI-MIB::saHpiSensorIgnore.0.5.2 = INTEGER: false(2)
HPI-MIB::saHpiSensorIgnore.0.5.4 = INTEGER: false(2)
HPI-MIB::saHpiSensorReadingFormats.0.4.1 = Gauge32: 1
HPI-MIB::saHpiSensorReadingFormats.0.4.3 = Gauge32: 1
HPI-MIB::saHpiSensorReadingFormats.0.5.2 = Gauge32: 1
HPI-MIB::saHpiSensorReadingFormats.0.5.4 = Gauge32: 1
HPI-MIB::saHpiSensorIsNumeric.0.4.1 = INTEGER: true(1)
HPI-MIB::saHpiSensorIsNumeric.0.4.3 = INTEGER: true(1)
HPI-MIB::saHpiSensorIsNumeric.0.5.2 = INTEGER: true(1)
HPI-MIB::saHpiSensorIsNumeric.0.5.4 = INTEGER: true(1)
HPI-MIB::saHpiSensorSignFormat.0.4.1 = INTEGER: unsigned(1)
HPI-MIB::saHpiSensorSignFormat.0.4.3 = INTEGER: unsigned(1)
HPI-MIB::saHpiSensorSignFormat.0.5.2 = INTEGER: unsigned(1)
HPI-MIB::saHpiSensorSignFormat.0.5.4 = INTEGER: unsigned(1)
HPI-MIB::saHpiSensorBaseUnits.0.4.1 = INTEGER: degreesC(2)
HPI-MIB::saHpiSensorBaseUnits.0.4.3 = INTEGER: degreesC(2)
HPI-MIB::saHpiSensorBaseUnits.0.5.2 = INTEGER: degreesC(2)
HPI-MIB::saHpiSensorBaseUnits.0.5.4 = INTEGER: degreesC(2)
HPI-MIB::saHpiSensorModifierUnits.0.4.1 = INTEGER: unspecified(1)
HPI-MIB::saHpiSensorModifierUnits.0.4.3 = INTEGER: unspecified(1)
HPI-MIB::saHpiSensorModifierUnits.0.5.2 = INTEGER: unspecified(1)
HPI-MIB::saHpiSensorModifierUnits.0.5.4 = INTEGER: unspecified(1)
HPI-MIB::saHpiSensorModifierUse.0.4.1 = INTEGER: none(1)
HPI-MIB::saHpiSensorModifierUse.0.4.3 = INTEGER: none(1)
HPI-MIB::saHpiSensorModifierUse.0.5.2 = INTEGER: none(1)
HPI-MIB::saHpiSensorModifierUse.0.5.4 = INTEGER: none(1)
HPI-MIB::saHpiSensorFactorsStatic.0.4.1 = INTEGER: true(1)
HPI-MIB::saHpiSensorFactorsStatic.0.4.3 = INTEGER: true(1)
HPI-MIB::saHpiSensorFactorsStatic.0.5.2 = INTEGER: true(1)
HPI-MIB::saHpiSensorFactorsStatic.0.5.4 = INTEGER: true(1)
HPI-MIB::saHpiSensorFactors.0.4.1 = Hex-STRING: 00 01 00 00 00 00 00 00 00 00 
HPI-MIB::saHpiSensorFactors.0.4.3 = Hex-STRING: 00 01 00 00 00 00 00 00 00 00 
HPI-MIB::saHpiSensorFactors.0.5.2 = Hex-STRING: 00 01 00 00 00 00 00 00 00 00 
HPI-MIB::saHpiSensorFactors.0.5.4 = Hex-STRING: 00 01 00 00 00 00 00 00 00 00 
HPI-MIB::saHpiSensorFactorsLinearization.0.4.1 = INTEGER: unspecified(1)
HPI-MIB::saHpiSensorFactorsLinearization.0.4.3 = INTEGER: unspecified(1)
HPI-MIB::saHpiSensorFactorsLinearization.0.5.2 = INTEGER: unspecified(1)
HPI-MIB::saHpiSensorFactorsLinearization.0.5.4 = INTEGER: unspecified(1)
HPI-MIB::saHpiSensorPercentage.0.4.1 = INTEGER: false(2)
HPI-MIB::saHpiSensorPercentage.0.4.3 = INTEGER: false(2)
HPI-MIB::saHpiSensorPercentage.0.5.2 = INTEGER: false(2)
HPI-MIB::saHpiSensorPercentage.0.5.4 = INTEGER: false(2)
HPI-MIB::saHpiSensorRangeFlags.0.4.1 = STRING: "MIN, MAX, NORMAL_MIN, NORMAL_MAX, NOMINAL"
HPI-MIB::saHpiSensorRangeFlags.0.4.3 = STRING: "MIN, MAX"
HPI-MIB::saHpiSensorRangeFlags.0.5.2 = STRING: "MIN, MAX"
HPI-MIB::saHpiSensorRangeFlags.0.5.4 = STRING: "MIN, MAX"
HPI-MIB::saHpiSensorHasThresholds.0.4.1 = INTEGER: true(1)
HPI-MIB::saHpiSensorHasThresholds.0.4.3 = INTEGER: true(1)
HPI-MIB::saHpiSensorHasThresholds.0.5.2 = INTEGER: true(1)
HPI-MIB::saHpiSensorHasThresholds.0.5.4 = INTEGER: true(1)
HPI-MIB::saHpiSensorThresholdCapabilities.0.4.1 = INTEGER: raw(2)
HPI-MIB::saHpiSensorThresholdCapabilities.0.4.3 = INTEGER: raw(2)
HPI-MIB::saHpiSensorThresholdCapabilities.0.5.2 = INTEGER: rawAndInterpreted(4)
HPI-MIB::saHpiSensorThresholdCapabilities.0.5.4 = INTEGER: raw(2)
HPI-MIB::saHpiSensorOEM.0.4.1 = Gauge32: 0
HPI-MIB::saHpiSensorOEM.0.4.3 = Gauge32: 0
HPI-MIB::saHpiSensorOEM.0.5.2 = Gauge32: 0
HPI-MIB::saHpiSensorOEM.0.5.4 = Gauge32: 0
HPI-MIB::saHpiSensorRDR.0.4.1 = OID: HPI-MIB::saHpiRdrRecordId.0.4.131073.sensorRdr
HPI-MIB::saHpiSensorRDR.0.4.3 = OID: HPI-MIB::saHpiRdrRecordId.0.4.131075.sensorRdr
HPI-MIB::saHpiSensorRDR.0.5.2 = OID: HPI-MIB::saHpiRdrRecordId.0.5.131074.sensorRdr
HPI-MIB::saHpiSensorRDR.0.5.4 = OID: HPI-MIB::saHpiRdrRecordId.0.5.131076.sensorRdr
HPI-MIB::saHpiSensorReadingCurrentValuesPresent.0.4.1 = INTEGER: raw(2)
HPI-MIB::saHpiSensorReadingCurrentValuesPresent.0.4.3 = INTEGER: raw(2)
HPI-MIB::saHpiSensorReadingCurrentValuesPresent.0.5.2 = INTEGER: rawAndInterpreted(4)
HPI-MIB::saHpiSensorReadingCurrentValuesPresent.0.5.4 = INTEGER: raw(2)
HPI-MIB::saHpiSensorReadingCurrentRaw.0.4.1 = Gauge32: 85
HPI-MIB::saHpiSensorReadingCurrentRaw.0.4.3 = Gauge32: 255
HPI-MIB::saHpiSensorReadingCurrentRaw.0.5.2 = Gauge32: 170
HPI-MIB::saHpiSensorReadingCurrentRaw.0.5.4 = Gauge32: 204
HPI-MIB::saHpiSensorReadingCurrentInterpreted.0.4.1 = ""
HPI-MIB::saHpiSensorReadingCurrentInterpreted.0.4.3 = ""
HPI-MIB::saHpiSensorReadingCurrentInterpreted.0.5.2 = STRING: "8-e1.23 tics"
HPI-MIB::saHpiSensorReadingCurrentInterpreted.0.5.4 = ""
HPI-MIB::saHpiSensorReadingCurrentStatus.0.4.1 = INTEGER: undefined(0)
HPI-MIB::saHpiSensorReadingCurrentStatus.0.4.3 = INTEGER: undefined(0)
HPI-MIB::saHpiSensorReadingCurrentStatus.0.5.2 = INTEGER: undefined(0)
HPI-MIB::saHpiSensorReadingCurrentStatus.0.5.4 = INTEGER: undefined(0)
HPI-MIB::saHpiSensorReadingCurrentEventStatus.0.4.1 = ""
HPI-MIB::saHpiSensorReadingCurrentEventStatus.0.4.3 = ""
HPI-MIB::saHpiSensorReadingCurrentEventStatus.0.5.2 = ""
HPI-MIB::saHpiSensorReadingCurrentEventStatus.0.5.4 = ""
HPI-MIB::saHpiSensorReadingMaxValuesPresent.0.4.1 = INTEGER: raw(2)
HPI-MIB::saHpiSensorReadingMaxValuesPresent.0.4.3 = INTEGER: raw(2)
HPI-MIB::saHpiSensorReadingMaxValuesPresent.0.5.2 = INTEGER: raw(2)
HPI-MIB::saHpiSensorReadingMaxValuesPresent.0.5.4 = INTEGER: raw(2)
HPI-MIB::saHpiSensorReadingMaxRaw.0.4.1 = Gauge32: 200
HPI-MIB::saHpiSensorReadingMaxRaw.0.4.3 = Gauge32: 200
HPI-MIB::saHpiSensorReadingMaxRaw.0.5.2 = Gauge32: 200
HPI-MIB::saHpiSensorReadingMaxRaw.0.5.4 = Gauge32: 200
HPI-MIB::saHpiSensorReadingMaxInterpreted.0.4.1 = ""
HPI-MIB::saHpiSensorReadingMaxInterpreted.0.4.3 = ""
HPI-MIB::saHpiSensorReadingMaxInterpreted.0.5.2 = ""
HPI-MIB::saHpiSensorReadingMaxInterpreted.0.5.4 = ""
HPI-MIB::saHpiSensorReadingMaxStatus.0.4.1 = INTEGER: undefined(0)
HPI-MIB::saHpiSensorReadingMaxStatus.0.4.3 = INTEGER: undefined(0)
HPI-MIB::saHpiSensorReadingMaxStatus.0.5.2 = INTEGER: undefined(0)
HPI-MIB::saHpiSensorReadingMaxStatus.0.5.4 = INTEGER: undefined(0)
HPI-MIB::saHpiSensorReadingMaxEventStatus.0.4.1 = ""
HPI-MIB::saHpiSensorReadingMaxEventStatus.0.4.3 = ""
HPI-MIB::saHpiSensorReadingMaxEventStatus.0.5.2 = ""
HPI-MIB::saHpiSensorReadingMaxEventStatus.0.5.4 = ""
HPI-MIB::saHpiSensorReadingMinValuesPresent.0.4.1 = INTEGER: raw(2)
HPI-MIB::saHpiSensorReadingMinValuesPresent.0.4.3 = INTEGER: raw(2)
HPI-MIB::saHpiSensorReadingMinValuesPresent.0.5.2 = INTEGER: raw(2)
HPI-MIB::saHpiSensorReadingMinValuesPresent.0.5.4 = INTEGER: raw(2)
HPI-MIB::saHpiSensorReadingMinRaw.0.4.1 = Gauge32: 0
HPI-MIB::saHpiSensorReadingMinRaw.0.4.3 = Gauge32: 0
HPI-MIB::saHpiSensorReadingMinRaw.0.5.2 = Gauge32: 0
HPI-MIB::saHpiSensorReadingMinRaw.0.5.4 = Gauge32: 0
HPI-MIB::saHpiSensorReadingMinInterpreted.0.4.1 = ""
HPI-MIB::saHpiSensorReadingMinInterpreted.0.4.3 = ""
HPI-MIB::saHpiSensorReadingMinInterpreted.0.5.2 = ""
HPI-MIB::saHpiSensorReadingMinInterpreted.0.5.4 = ""
HPI-MIB::saHpiSensorReadingMinStatus.0.4.1 = INTEGER: undefined(0)
HPI-MIB::saHpiSensorReadingMinStatus.0.4.3 = INTEGER: undefined(0)
HPI-MIB::saHpiSensorReadingMinStatus.0.5.2 = INTEGER: undefined(0)
HPI-MIB::saHpiSensorReadingMinStatus.0.5.4 = INTEGER: undefined(0)
HPI-MIB::saHpiSensorReadingMinEventStatus.0.4.1 = ""
HPI-MIB::saHpiSensorReadingMinEventStatus.0.4.3 = ""
HPI-MIB::saHpiSensorReadingMinEventStatus.0.5.2 = ""
HPI-MIB::saHpiSensorReadingMinEventStatus.0.5.4 = ""
HPI-MIB::saHpiSensorReadingNominalValuesPresent.0.4.1 = INTEGER: raw(2)
HPI-MIB::saHpiSensorReadingNominalRaw.0.4.1 = Gauge32: 0
HPI-MIB::saHpiSensorReadingNominalInterpreted.0.4.1 = ""
HPI-MIB::saHpiSensorReadingNominalStatus.0.4.1 = INTEGER: undefined(0)
HPI-MIB::saHpiSensorReadingNominalEventStatus.0.4.1 = ""
HPI-MIB::saHpiSensorReadingNormalMaxValuesPresent.0.4.1 = INTEGER: raw(2)
HPI-MIB::saHpiSensorReadingNormalMaxRaw.0.4.1 = Gauge32: 0
HPI-MIB::saHpiSensorReadingNormalMaxInterpreted.0.4.1 = ""
HPI-MIB::saHpiSensorReadingNormalMaxStatus.0.4.1 = INTEGER: undefined(0)
HPI-MIB::saHpiSensorReadingNormalMaxEventStatus.0.4.1 = ""
HPI-MIB::saHpiSensorReadingNormalMinValuesPresent.0.4.1 = INTEGER: raw(2)
HPI-MIB::saHpiSensorReadingNormalMinRaw.0.4.1 = Gauge32: 0
HPI-MIB::saHpiSensorReadingNormalMinInterpreted.0.4.1 = ""
HPI-MIB::saHpiSensorReadingNormalMinStatus.0.4.1 = INTEGER: undefined(0)
HPI-MIB::saHpiSensorReadingNormalMinEventStatus.0.4.1 = ""
HPI-MIB::saHpiSensorThdLowCriticalIsReadable.0.4.1 = INTEGER: true(1)
HPI-MIB::saHpiSensorThdLowCriticalIsReadable.0.4.3 = INTEGER: true(1)
HPI-MIB::saHpiSensorThdLowCriticalIsReadable.0.5.2 = INTEGER: true(1)
HPI-MIB::saHpiSensorThdLowCriticalIsReadable.0.5.4 = INTEGER: true(1)
HPI-MIB::saHpiSensorThdLowCriticalIsWritable.0.4.1 = INTEGER: true(1)
HPI-MIB::saHpiSensorThdLowCriticalIsWritable.0.4.3 = INTEGER: true(1)
HPI-MIB::saHpiSensorThdLowCriticalIsWritable.0.5.2 = INTEGER: true(1)
HPI-MIB::saHpiSensorThdLowCriticalIsWritable.0.5.4 = INTEGER: true(1)
HPI-MIB::saHpiSensorThdLowCriticalIsFixed.0.4.1 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdLowCriticalIsFixed.0.4.3 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdLowCriticalIsFixed.0.5.2 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdLowCriticalIsFixed.0.5.4 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdLowCriticalValuesPresent.0.4.1 = INTEGER: rawAndInterpreted(4)
HPI-MIB::saHpiSensorThdLowCriticalValuesPresent.0.4.3 = INTEGER: raw(2)
HPI-MIB::saHpiSensorThdLowCriticalValuesPresent.0.5.2 = INTEGER: raw(2)
HPI-MIB::saHpiSensorThdLowCriticalValuesPresent.0.5.4 = INTEGER: raw(2)
HPI-MIB::saHpiSensorThdLowCriticalRaw.0.4.1 = Gauge32: 126
HPI-MIB::saHpiSensorThdLowCriticalRaw.0.4.3 = Gauge32: 769
HPI-MIB::saHpiSensorThdLowCriticalRaw.0.5.2 = Gauge32: 513
HPI-MIB::saHpiSensorThdLowCriticalRaw.0.5.4 = Gauge32: 1025
HPI-MIB::saHpiSensorThdLowCriticalInterpreted.0.4.1 = STRING: "5 tics"
HPI-MIB::saHpiSensorThdLowCriticalInterpreted.0.4.3 = ""
HPI-MIB::saHpiSensorThdLowCriticalInterpreted.0.5.2 = ""
HPI-MIB::saHpiSensorThdLowCriticalInterpreted.0.5.4 = ""
HPI-MIB::saHpiSensorThdLowMajorIsReadable.0.4.1 = INTEGER: true(1)
HPI-MIB::saHpiSensorThdLowMajorIsReadable.0.4.3 = INTEGER: true(1)
HPI-MIB::saHpiSensorThdLowMajorIsReadable.0.5.2 = INTEGER: true(1)
HPI-MIB::saHpiSensorThdLowMajorIsReadable.0.5.4 = INTEGER: true(1)
HPI-MIB::saHpiSensorThdLowMajorIsWritable.0.4.1 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdLowMajorIsWritable.0.4.3 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdLowMajorIsWritable.0.5.2 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdLowMajorIsWritable.0.5.4 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdLowMajorIsFixed.0.4.1 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdLowMajorIsFixed.0.4.3 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdLowMajorIsFixed.0.5.2 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdLowMajorIsFixed.0.5.4 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdLowMajorValuesPresent.0.4.1 = INTEGER: rawAndInterpreted(4)
HPI-MIB::saHpiSensorThdLowMajorValuesPresent.0.4.3 = INTEGER: raw(2)
HPI-MIB::saHpiSensorThdLowMajorValuesPresent.0.5.2 = INTEGER: raw(2)
HPI-MIB::saHpiSensorThdLowMajorValuesPresent.0.5.4 = INTEGER: raw(2)
HPI-MIB::saHpiSensorThdLowMajorRaw.0.4.1 = Gauge32: 255
HPI-MIB::saHpiSensorThdLowMajorRaw.0.4.3 = Gauge32: 770
HPI-MIB::saHpiSensorThdLowMajorRaw.0.5.2 = Gauge32: 514
HPI-MIB::saHpiSensorThdLowMajorRaw.0.5.4 = Gauge32: 1026
HPI-MIB::saHpiSensorThdLowMajorInterpreted.0.4.1 = STRING: "88 tocs"
HPI-MIB::saHpiSensorThdLowMajorInterpreted.0.4.3 = ""
HPI-MIB::saHpiSensorThdLowMajorInterpreted.0.5.2 = ""
HPI-MIB::saHpiSensorThdLowMajorInterpreted.0.5.4 = ""
HPI-MIB::saHpiSensorThdLowMinorIsReadable.0.4.1 = INTEGER: true(1)
HPI-MIB::saHpiSensorThdLowMinorIsReadable.0.4.3 = INTEGER: true(1)
HPI-MIB::saHpiSensorThdLowMinorIsReadable.0.5.2 = INTEGER: true(1)
HPI-MIB::saHpiSensorThdLowMinorIsReadable.0.5.4 = INTEGER: true(1)
HPI-MIB::saHpiSensorThdLowMinorIsWritable.0.4.1 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdLowMinorIsWritable.0.4.3 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdLowMinorIsWritable.0.5.2 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdLowMinorIsWritable.0.5.4 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdLowMinorIsFixed.0.4.1 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdLowMinorIsFixed.0.4.3 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdLowMinorIsFixed.0.5.2 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdLowMinorIsFixed.0.5.4 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdLowMinorValuesPresent.0.4.1 = INTEGER: rawAndInterpreted(4)
HPI-MIB::saHpiSensorThdLowMinorValuesPresent.0.4.3 = INTEGER: raw(2)
HPI-MIB::saHpiSensorThdLowMinorValuesPresent.0.5.2 = INTEGER: raw(2)
HPI-MIB::saHpiSensorThdLowMinorValuesPresent.0.5.4 = INTEGER: raw(2)
HPI-MIB::saHpiSensorThdLowMinorRaw.0.4.1 = Gauge32: 510
HPI-MIB::saHpiSensorThdLowMinorRaw.0.4.3 = Gauge32: 771
HPI-MIB::saHpiSensorThdLowMinorRaw.0.5.2 = Gauge32: 515
HPI-MIB::saHpiSensorThdLowMinorRaw.0.5.4 = Gauge32: 1027
HPI-MIB::saHpiSensorThdLowMinorInterpreted.0.4.1 = STRING: "20,0000 leagues"
HPI-MIB::saHpiSensorThdLowMinorInterpreted.0.4.3 = ""
HPI-MIB::saHpiSensorThdLowMinorInterpreted.0.5.2 = ""
HPI-MIB::saHpiSensorThdLowMinorInterpreted.0.5.4 = ""
HPI-MIB::saHpiSensorThdUpCriticalIsReadable.0.4.1 = INTEGER: true(1)
HPI-MIB::saHpiSensorThdUpCriticalIsReadable.0.4.3 = INTEGER: true(1)
HPI-MIB::saHpiSensorThdUpCriticalIsReadable.0.5.2 = INTEGER: true(1)
HPI-MIB::saHpiSensorThdUpCriticalIsReadable.0.5.4 = INTEGER: true(1)
HPI-MIB::saHpiSensorThdUpCriticalIsWritable.0.4.1 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdUpCriticalIsWritable.0.4.3 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdUpCriticalIsWritable.0.5.2 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdUpCriticalIsWritable.0.5.4 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdUpCriticalIsFixed.0.4.1 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdUpCriticalIsFixed.0.4.3 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdUpCriticalIsFixed.0.5.2 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdUpCriticalIsFixed.0.5.4 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdUpCriticalValuesPresent.0.4.1 = INTEGER: rawAndInterpreted(4)
HPI-MIB::saHpiSensorThdUpCriticalValuesPresent.0.4.3 = INTEGER: raw(2)
HPI-MIB::saHpiSensorThdUpCriticalValuesPresent.0.5.2 = INTEGER: raw(2)
HPI-MIB::saHpiSensorThdUpCriticalValuesPresent.0.5.4 = INTEGER: raw(2)
HPI-MIB::saHpiSensorThdUpCriticalRaw.0.4.1 = Gauge32: 1024
HPI-MIB::saHpiSensorThdUpCriticalRaw.0.4.3 = Gauge32: 772
HPI-MIB::saHpiSensorThdUpCriticalRaw.0.5.2 = Gauge32: 516
HPI-MIB::saHpiSensorThdUpCriticalRaw.0.5.4 = Gauge32: 1028
HPI-MIB::saHpiSensorThdUpCriticalInterpreted.0.4.1 = STRING: "556 hands"
HPI-MIB::saHpiSensorThdUpCriticalInterpreted.0.4.3 = ""
HPI-MIB::saHpiSensorThdUpCriticalInterpreted.0.5.2 = ""
HPI-MIB::saHpiSensorThdUpCriticalInterpreted.0.5.4 = ""
HPI-MIB::saHpiSensorThdUpMajorIsReadable.0.4.1 = INTEGER: true(1)
HPI-MIB::saHpiSensorThdUpMajorIsReadable.0.4.3 = INTEGER: true(1)
HPI-MIB::saHpiSensorThdUpMajorIsReadable.0.5.2 = INTEGER: true(1)
HPI-MIB::saHpiSensorThdUpMajorIsReadable.0.5.4 = INTEGER: true(1)
HPI-MIB::saHpiSensorThdUpMajorIsWritable.0.4.1 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdUpMajorIsWritable.0.4.3 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdUpMajorIsWritable.0.5.2 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdUpMajorIsWritable.0.5.4 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdUpMajorIsFixed.0.4.1 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdUpMajorIsFixed.0.4.3 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdUpMajorIsFixed.0.5.2 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdUpMajorIsFixed.0.5.4 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdUpMajorValuesPresent.0.4.1 = INTEGER: rawAndInterpreted(4)
HPI-MIB::saHpiSensorThdUpMajorValuesPresent.0.4.3 = INTEGER: raw(2)
HPI-MIB::saHpiSensorThdUpMajorValuesPresent.0.5.2 = INTEGER: raw(2)
HPI-MIB::saHpiSensorThdUpMajorValuesPresent.0.5.4 = INTEGER: raw(2)
HPI-MIB::saHpiSensorThdUpMajorRaw.0.4.1 = Gauge32: 2048
HPI-MIB::saHpiSensorThdUpMajorRaw.0.4.3 = Gauge32: 773
HPI-MIB::saHpiSensorThdUpMajorRaw.0.5.2 = Gauge32: 517
HPI-MIB::saHpiSensorThdUpMajorRaw.0.5.4 = Gauge32: 1029
HPI-MIB::saHpiSensorThdUpMajorInterpreted.0.4.1 = STRING: "297 hectares"
HPI-MIB::saHpiSensorThdUpMajorInterpreted.0.4.3 = ""
HPI-MIB::saHpiSensorThdUpMajorInterpreted.0.5.2 = ""
HPI-MIB::saHpiSensorThdUpMajorInterpreted.0.5.4 = ""
HPI-MIB::saHpiSensorThdUpMinorIsReadable.0.4.1 = INTEGER: true(1)
HPI-MIB::saHpiSensorThdUpMinorIsReadable.0.4.3 = INTEGER: true(1)
HPI-MIB::saHpiSensorThdUpMinorIsReadable.0.5.2 = INTEGER: true(1)
HPI-MIB::saHpiSensorThdUpMinorIsReadable.0.5.4 = INTEGER: true(1)
HPI-MIB::saHpiSensorThdUpMinorIsWritable.0.4.1 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdUpMinorIsWritable.0.4.3 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdUpMinorIsWritable.0.5.2 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdUpMinorIsWritable.0.5.4 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdUpMinorIsFixed.0.4.1 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdUpMinorIsFixed.0.4.3 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdUpMinorIsFixed.0.5.2 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdUpMinorIsFixed.0.5.4 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdUpMinorValuesPresent.0.4.1 = INTEGER: rawAndInterpreted(4)
HPI-MIB::saHpiSensorThdUpMinorValuesPresent.0.4.3 = INTEGER: raw(2)
HPI-MIB::saHpiSensorThdUpMinorValuesPresent.0.5.2 = INTEGER: raw(2)
HPI-MIB::saHpiSensorThdUpMinorValuesPresent.0.5.4 = INTEGER: raw(2)
HPI-MIB::saHpiSensorThdUpMinorRaw.0.4.1 = Gauge32: 4096
HPI-MIB::saHpiSensorThdUpMinorRaw.0.4.3 = Gauge32: 774
HPI-MIB::saHpiSensorThdUpMinorRaw.0.5.2 = Gauge32: 518
HPI-MIB::saHpiSensorThdUpMinorRaw.0.5.4 = Gauge32: 1030
HPI-MIB::saHpiSensorThdUpMinorInterpreted.0.4.1 = STRING: "10 kilometers"
HPI-MIB::saHpiSensorThdUpMinorInterpreted.0.4.3 = ""
HPI-MIB::saHpiSensorThdUpMinorInterpreted.0.5.2 = ""
HPI-MIB::saHpiSensorThdUpMinorInterpreted.0.5.4 = ""
HPI-MIB::saHpiSensorThdPosHysteresisIsReadable.0.4.1 = INTEGER: true(1)
HPI-MIB::saHpiSensorThdPosHysteresisIsReadable.0.4.3 = INTEGER: true(1)
HPI-MIB::saHpiSensorThdPosHysteresisIsReadable.0.5.2 = INTEGER: true(1)
HPI-MIB::saHpiSensorThdPosHysteresisIsReadable.0.5.4 = INTEGER: true(1)
HPI-MIB::saHpiSensorThdPosHysteresisIsWritable.0.4.1 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdPosHysteresisIsWritable.0.4.3 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdPosHysteresisIsWritable.0.5.2 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdPosHysteresisIsWritable.0.5.4 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdPosHysteresisIsFixed.0.4.1 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdPosHysteresisIsFixed.0.4.3 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdPosHysteresisIsFixed.0.5.2 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdPosHysteresisIsFixed.0.5.4 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdPosHysteresisValuesPresent.0.4.1 = INTEGER: rawAndInterpreted(4)
HPI-MIB::saHpiSensorThdPosHysteresisValuesPresent.0.4.3 = INTEGER: raw(2)
HPI-MIB::saHpiSensorThdPosHysteresisValuesPresent.0.5.2 = INTEGER: raw(2)
HPI-MIB::saHpiSensorThdPosHysteresisValuesPresent.0.5.4 = INTEGER: raw(2)
HPI-MIB::saHpiSensorThdPosHysteresisRaw.0.4.1 = Gauge32: 8192
HPI-MIB::saHpiSensorThdPosHysteresisRaw.0.4.3 = Gauge32: 775
HPI-MIB::saHpiSensorThdPosHysteresisRaw.0.5.2 = Gauge32: 519
HPI-MIB::saHpiSensorThdPosHysteresisRaw.0.5.4 = Gauge32: 1031
HPI-MIB::saHpiSensorThdPosHysteresisInterpreted.0.4.1 = STRING: "5 decaliters"
HPI-MIB::saHpiSensorThdPosHysteresisInterpreted.0.4.3 = ""
HPI-MIB::saHpiSensorThdPosHysteresisInterpreted.0.5.2 = ""
HPI-MIB::saHpiSensorThdPosHysteresisInterpreted.0.5.4 = ""
HPI-MIB::saHpiSensorThdNegHysteresisIsReadable.0.4.1 = INTEGER: true(1)
HPI-MIB::saHpiSensorThdNegHysteresisIsReadable.0.4.3 = INTEGER: true(1)
HPI-MIB::saHpiSensorThdNegHysteresisIsReadable.0.5.2 = INTEGER: true(1)
HPI-MIB::saHpiSensorThdNegHysteresisIsReadable.0.5.4 = INTEGER: true(1)
HPI-MIB::saHpiSensorThdNegHysteresisIsWritable.0.4.1 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdNegHysteresisIsWritable.0.4.3 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdNegHysteresisIsWritable.0.5.2 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdNegHysteresisIsWritable.0.5.4 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdNegHysteresisIsFixed.0.4.1 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdNegHysteresisIsFixed.0.4.3 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdNegHysteresisIsFixed.0.5.2 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdNegHysteresisIsFixed.0.5.4 = INTEGER: false(2)
HPI-MIB::saHpiSensorThdNegHysteresisValuesPresent.0.4.1 = INTEGER: rawAndInterpreted(4)
HPI-MIB::saHpiSensorThdNegHysteresisValuesPresent.0.4.3 = INTEGER: raw(2)
HPI-MIB::saHpiSensorThdNegHysteresisValuesPresent.0.5.2 = INTEGER: raw(2)
HPI-MIB::saHpiSensorThdNegHysteresisValuesPresent.0.5.4 = INTEGER: raw(2)
HPI-MIB::saHpiSensorThdNegHysteresisRaw.0.4.1 = Gauge32: 16384
HPI-MIB::saHpiSensorThdNegHysteresisRaw.0.4.3 = Gauge32: 776
HPI-MIB::saHpiSensorThdNegHysteresisRaw.0.5.2 = Gauge32: 520
HPI-MIB::saHpiSensorThdNegHysteresisRaw.0.5.4 = Gauge32: 1032
HPI-MIB::saHpiSensorThdNegHysteresisInterpreted.0.4.1 = STRING: "1 centillion"
HPI-MIB::saHpiSensorThdNegHysteresisInterpreted.0.4.3 = ""
HPI-MIB::saHpiSensorThdNegHysteresisInterpreted.0.5.2 = ""
HPI-MIB::saHpiSensorThdNegHysteresisInterpreted.0.5.4 = ""
HPI-MIB::saHpiInventoryCount.0 = Counter32: 2
HPI-MIB::saHpiInventoryEirId.0.4.6.0 = Gauge32: 6
HPI-MIB::saHpiInventoryEirId.0.4.8.0 = Gauge32: 8
HPI-MIB::saHpiInventoryIndex.0.4.6.0 = Gauge32: 0
HPI-MIB::saHpiInventoryIndex.0.4.8.0 = Gauge32: 0
HPI-MIB::saHpiInventoryRecordType.0.4.6.0 = INTEGER: undefined(0)
HPI-MIB::saHpiInventoryRecordType.0.4.8.0 = INTEGER: undefined(0)
HPI-MIB::saHpiInventoryValidity.0.4.6.0 = INTEGER: invalid(2)
HPI-MIB::saHpiInventoryValidity.0.4.8.0 = INTEGER: invalid(2)
HPI-MIB::saHpiInventoryAttributes.0.4.6.0 = ""
HPI-MIB::saHpiInventoryAttributes.0.4.8.0 = ""
HPI-MIB::saHpiInventoryTextType.0.4.6.0 = INTEGER: undefined(0)
HPI-MIB::saHpiInventoryTextType.0.4.8.0 = INTEGER: undefined(0)
HPI-MIB::saHpiInventoryTextLanguage.0.4.6.0 = INTEGER: undefined(0)
HPI-MIB::saHpiInventoryTextLanguage.0.4.8.0 = INTEGER: undefined(0)
HPI-MIB::saHpiInventoryManufacturer.0.4.6.0 = ""
HPI-MIB::saHpiInventoryManufacturer.0.4.8.0 = ""
HPI-MIB::saHpiInventoryProductName.0.4.6.0 = ""
HPI-MIB::saHpiInventoryProductName.0.4.8.0 = ""
HPI-MIB::saHpiInventoryProductVersion.0.4.6.0 = ""
HPI-MIB::saHpiInventoryProductVersion.0.4.8.0 = ""
HPI-MIB::saHpiInventoryModelNumber.0.4.6.0 = ""
HPI-MIB::saHpiInventoryModelNumber.0.4.8.0 = ""
HPI-MIB::saHpiInventorySerialNumber.0.4.6.0 = ""
HPI-MIB::saHpiInventorySerialNumber.0.4.8.0 = ""
HPI-MIB::saHpiInventoryPartNumber.0.4.6.0 = ""
HPI-MIB::saHpiInventoryPartNumber.0.4.8.0 = ""
HPI-MIB::saHpiInventoryFileId.0.4.6.0 = ""
HPI-MIB::saHpiInventoryFileId.0.4.8.0 = ""
HPI-MIB::saHpiInventoryAssetTag.0.4.6.0 = ""
HPI-MIB::saHpiInventoryAssetTag.0.4.8.0 = ""
HPI-MIB::saHpiInventoryCustomField.0.4.6.0 = ""
HPI-MIB::saHpiInventoryCustomField.0.4.8.0 = ""
HPI-MIB::saHpiInventoryOEM.0.4.6.0 = Gauge32: 305414945
HPI-MIB::saHpiInventoryOEM.0.4.8.0 = Gauge32: 305414945
HPI-MIB::saHpiInventoryRDR.0.4.6.0 = OID: HPI-MIB::saHpiRdrRecordId.0.4.196614.inventoryRdr
HPI-MIB::saHpiInventoryRDR.0.4.8.0 = OID: HPI-MIB::saHpiRdrRecordId.0.4.196616.inventoryRdr
HPI-MIB::saHpiWatchdogCount.0 = Counter32: 0
HPI-MIB::saHpiHotSwapIndicator.0.5 = INTEGER: on(2)
HPI-MIB::saHpiHotSwapPowerState.0.5 = INTEGER: on(2)
HPI-MIB::saHpiHotSwapResetState.0.5 = INTEGER: coldReset(1)
HPI-MIB::saHpiHotSwapState.0.5 = INTEGER: activeHealthy(3)
HPI-MIB::saHpiHotSwapPreviousState.0.5 = INTEGER: undefined(0)
HPI-MIB::saHpiHotSwapEventSeverity.0.5 = INTEGER: major(2)
HPI-MIB::saHpiHotSwapInsertTimeout.0.5 = Gauge32: 0
HPI-MIB::saHpiHotSwapExtractTimeout.0.5 = Gauge32: 0
HPI-MIB::saHpiHotSwapActionRequest.0.5 = INTEGER: undefined(0)
HPI-MIB::saHpiHotSwapRTP.0.5 = OID: HPI-MIB::saHpiDomainID.0.5.5
